In [3]:
import pandas as pd

## Create a Series Object from a Python List

In [5]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Pistache"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3      Pistache
dtype: object

## Create a Series Object from a Python Dictionary

In [6]:
webster = {"Aardbark":"An animal",
           "Banana":"A delicious fruit",
           "Cyan":"A color"}

pd.Series(webster)

Aardbark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

## Attributes

In [8]:
personality = ["Smart", "Handsome", "Charming", "Brillant", "Humble"]

s = pd.Series(personality)

In [9]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brillant', 'Humble'],
      dtype=object)

In [10]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s.dtype

dtype('O')

## Methods

In [13]:
prices = [2.99, 8.00, 4.99]

s = pd.Series(prices)

In [14]:
s.sum()

15.98

In [15]:
s.product() #multiply all

119.36080000000001

In [17]:
s.mean() # average

5.326666666666667

## Import Series with the read_csv() Method

In [47]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True) 

pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [27]:
google_stock_price = pd.read_csv("google_stock_price.csv", squeeze = True) # squeeze will send a Series

google_stock_price

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## The .head() and .tail() Methods

In [28]:
pokemon.head() # first 5 rows by default

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

In [29]:
pokemon.tail() # last 5 rows by dafault

       Pokemon
716    Yveltal
717    Zygarde
718    Diancie
719      Hoopa
720  Volcanion

## MISC

In [36]:
len(pokemon)

721

In [37]:
type(pokemon)

pandas.core.frame.DataFrame

In [38]:
type(google_stock_price)

pandas.core.series.Series

In [41]:
max(google_stock_price)

782.22

In [43]:
min(google_stock_price)

49.95

## The .sort_values() Methods

In [51]:
pokemon.sort_values().head() # by alphabet order

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [52]:
pokemon.sort_values(ascending = False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

## The _inplace_ Parameter

In [57]:
pokemon.sort_values(inplace = True) # 'inplace' is same as saying pokemon = sort_values()

In [56]:
pokemon.head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

## Python's _in_ keyword

In [58]:
3 in [1, 2, 3, 4, 5] # verify if it's in the list

True

In [59]:
"Bulbasaur" in pokemon # pandas looking index

False

In [60]:
"Bulbasaur" in pokemon.values

True

## Extract values from index

In [62]:
pokemon[0] # index 0

'Bulbasaur'

In [64]:
pokemon[[0, 122, 222]]

0      Bulbasaur
122      Scyther
222     Remoraid
Name: Pokemon, dtype: object

In [67]:
pokemon[0:5]

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [68]:
pokemon[-10:] # start 10 from the end

334     Zangoose
144       Zapdos
522    Zebstrika
643       Zekrom
262    Zigzagoon
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, dtype: object

## Extract values by index label

In [71]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [72]:
pokemon["Bulbasaur"]

'Grass'

In [74]:
pokemon[["Pikachu", "Digimon"]]

D:\Programs\Anaconda3\lib\site-packages\pandas\core\series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Pokemon
Pikachu    Electric
Digimon         NaN
Name: Type, dtype: object

In [75]:
pokemon["Bulbasaur":"Pikachu"]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

## Math methods on Series Objects

In [77]:
google_stock_price.count() # count exclude null values

3012

In [79]:
google_stock_price.mean() # average

334.31009296148744

In [81]:
google_stock_price.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## The value_counts() method

In [82]:
pokemon.value_counts() # water occurs 105 times and so on...

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

## The _apply()_ method

In [83]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "INCREDIBLE !"

In [85]:
google_stock_price.apply(classify_performance).tail()

3007    INCREDIBLE !
3008    INCREDIBLE !
3009    INCREDIBLE !
3010    INCREDIBLE !
3011    INCREDIBLE !
Name: Stock Price, dtype: object

In [90]:
google_stock_price.apply(lambda stock_price : str(stock_price) + "$").head()

0    50.12$
1     54.1$
2    54.65$
3    52.38$
4    52.95$
Name: Stock Price, dtype: object

## The _map()_ method

two list into a dictionary